{% extends 'auth/usuario.html' %} {% block title %} Test Diabetes {%endblock %} {%
block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/usuario.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename= 'css/prueba.css')}}" />
{% endblock %} {% block body %}
<nav class="navbar navbar-dark bg-dark fixed-top navbar-light bg-light">
  <div class="container-fluid d-flex mb-3">
    <div class="me-auto p-2">
      <a class="navbar-brand"
        >Bienvenido {% block name_user %} {% endblock %}
      </a>
    </div>
    <div class="p-2">
      <ul class="navega">
        <li><a class="navega" aria-current="page" href="/usuario">Inicio</a></li>
        <li>
          <a class="navega" aria-current="page" href="/lista">Lista de Tests</a>
        </li>
        <li>
          <a class="navega" aria-current="page" href="/prueba">Nuevo Test</a>
        </li>
      </ul>
    </div>
    <div class="p-2">
      <button
        class="navbar-toggler p-2 flex-shrink-1"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
      </button>
    </div>

    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          Test_Diabetes
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% block panel %}
<form class="formulario" method="post" action="/hacer-diagnostico">
  <div class="espacio">
    <h1 class="titulo">Test de Porcentaje de Riesgo Diabetes</h1>
    <br />
    <div class="variable">
      <label class="form-label-v">DATOS DEL PARTICIPANTE</label>
    </div>
    <br />
    <div class="input_datos_n">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Nombre:
        </span>
        <input
          type="text"
          name="nombre"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div class="input_datos_dni">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >D.N.I
        </span>
        <input
          type="text"
          name="numero_documento_dni"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div class="input_datos_edad">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Edad
        </span>
        <input
          type="text"
          name="edad"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div class="contenedor_a">
      <div class="variable">
        <label class="form-label-v">Alimentación</label>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanto consumes legumbres?. (Por ejemplo:
          Lentejas,habas,etc)
        </label>
        <select
          name="comida1"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanto consumes frutas?. (Entera, no en jugos)
        </label>
        <select
          required
          name="comida2"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanto consumes productos lácteos?. (Por ejemplo:
          leche, yogurt,etc)
        </label>
        <select
          name="comida3"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanto comes verduras?
        </label>
        <select
          required
          name="comida4"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanto comes alimentos ricos en fibra?. (Por ejemplo:
          Avena, quinua,etc)
        </label>
        <select
          required
          name="comida5"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
    </div>
    <div class="Contenedor_var">
      <div class="variable">
        <label class="form-label-v">Genética</label>
      </div>
      <div class="mb-3">
        <label class="form-label">
          ¿Tus hermanos padecen diabetes?. (Si no tienes hermanos marca no)
        </label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia1"
            id="geneticalRadio1"
            value="1"
          />
          <label class="form-check-label" for="geneticalRadio1"> Sí </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia1"
            id="geneticalRadio2"
            value="0"
            checked
          />
          <label class="form-check-label" for="geneticalRadio2"> No </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"> ¿Tus padres padecen diabetes?. </label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia2"
            id="geneticalRadio1"
            value="1"
          />
          <label class="form-check-label" for="flexRadioDefault1"> Sí </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia2"
            id="geneticalRadio2"
            value="0"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2"> No </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          ¿Alguno de tus tíos padece diabetes?.
        </label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia3"
            id="geneticalRadio1"
            value="1"
          />
          <label class="form-check-label" for="geneticalRadio1"> Sí </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia3"
            id="geneticalRadio2"
            value="0"
            checked
          />
          <label class="form-check-label" for="geneticalRadio2"> No </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"> ¿Tus abuelos padecen diabetes?. </label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia4"
            id="geneticalRadio1"
            value="1"
          />
          <label class="form-check-label" for="geneticalRadio1"> Sí </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia4"
            id="geneticalRadio2"
            value="0"
            checked
          />
          <label class="form-check-label" for="geneticalRadio2"> No </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          ¿Alguno de tus primos padece diabetes?.
        </label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia5"
            id="geneticalRadio1"
            value="1"
          />
          <label class="form-check-label" for="geneticalRadio1"> Sí </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="herencia5"
            id="geneticalRadio2"
            value="0"
            checked
          />
          <label class="form-check-label" for="geneticalRadio2"> No </label>
        </div>
      </div>
    </div>
    <div class="Contenedor_Glucosa">
      <div class="variable">
        <label class="form-label-v">Glucosa</label>
      </div>
      <div class="label_niv_glucosa">
        <label for="formGroupExampleInput">
          ¿Cuánto obtuviste de glucosa en tu último examen de diabetes?
        </label>
      </div>

      <div class="text_input">
        <div class="col1"><span class="spam">Valor del glucómetro </span></div>
        <div class="col2">
          <input
            required
            type="text"
            class="form-control"
            name="glucosa"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
      </div>
    </div>
    <div class="Contenedor_var">
      <div class="variable">
        <label class="form-label-v">Actividad Física</label>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanta actividad física de mediano impacto realizas a
          la semana?. (Por ejemplo:Correr,etc)
        </label>
        <select
          name="ejercicio1"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanta actividad física de alto impacto realizas a la
          semana?. (Por ejemplo:Tennis,fútbol,etc)
        </label>
        <select
          name="ejercicio2"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">
          Semanalmente ¿Qué tanta actividad física de bajo impacto realizas a la
          semana?. (Por ejemplo: Pasear, mover cosas,etc)
        </label>
        <select
          name="ejercicio3"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="0">0</option>
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
      </div>
      <div class="boton">
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</form>
{%endblock %} {% endblock %} {% block footer %}
<!-- <footer class="footer">FISI- UNMSM 2022</footer> -->
{% endblock %}
