{% extends 'auth/usuario.html' %} {% block title %} Test Diabetes {%endblock %} {%
    block customCSS %}
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/usuario.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/prueba.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/resultado.css')}}" />
    {% endblock %} {% block body %}
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-light bg-light">
      <div class="container-fluid d-flex mb-3">
        <div class="me-auto p-2">
          <a class="navbar-brand"
            >Bienvenido {% block name_user %} {% endblock %}
          </a>
        </div>
        <div class="p-2">
          <ul class="navega">
            <li><a class="navega" aria-current="page" href="/usuario">Inicio</a></li>
            <li><a class="navega" aria-current="page" href="/lista">Lista de Tests</a></li>
            <li>
              <a class="navega" aria-current="page" href="/prueba">Nuevo Test</a>
            </li>
          </ul>
        </div>
        <div class="p-2">
          <button
            class="navbar-toggler p-2 flex-shrink-1"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
          >
            <img
              src="https://github.com/mdo.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2"
            />
          </button>
        </div>
    
        <div
          class="offcanvas offcanvas-end text-bg-dark"
          tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
              Test_Diabetes
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" href="#">Mi Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Salir</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {% block panel %}
    <div class="panel">
       <div class="cuerpo-panel">
            <div class="riesgo-1"><h1>RIESGO BAJO</h1> </div>
            <div class="mensaje">
                Estás haciendo un buen trabajo!
                <br>
                 Cuida tu alimentación y haz ejercico.
                <br>
                Bien po ti!.
            </div>
       </div> 
       <div class="row">
            <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Alimentación</h5>
                <p class="card-text">Recuerda consumir frutas y verduras todos los días.</p>
                <p class="card-text">Lleva una dieta rica en:</p>
                <p class="card-text"> - Fibra</p>
                <p class="card-text"> - Proteína</p>
                <p class="card-text">Evita consumir grasas.</p>
                                                                           
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Actividad Física</h5>
                <p class="card-text">Mantente realizando ejercicios físicos semanales.</p>
                <p class="card-text">No es necesario ir al gimnasio, con hacer 10 minutos de ejercicio en casa es suficiente!</p>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Consejos Finales (Generales)</h5>
                    <p class="card-text">Lo has hecho bien hasta ahora!</p>
                    <p class="card-text">¡Felicitaciones!.</p>                                   
                   
                </div>
                </div>
            </div>

       </div>
       <div class="boton_a">
        <a href="/usuario"><button type="button" class="btn btn-primary btn-lg btn-block">Aceptar</button></a>
       </div>
    </div>
   
    {%endblock %} {% endblock %} {% block footer %}
    <!-- <footer class="footer">FISI- UNMSM 2022</footer> -->
    {% endblock %}