body , html{
    height:100vh;
    width:100%; 
    font-size: 100%;
    overflow: hidden; 
    background-color: #D8DBE1;
    
  }
.carousel-inner{
    background-color:#D8DBE1;
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 148px;
    margin-bottom: 98px;
    height:100%
}
.img_slider{
    display: block;
    margin: 0px auto;
    
}
.footer{
    text-align: center;
    background-color: rgba(23, 32, 42 );
    height:100vh;
    color:aliceblue;
    padding-top: 20px;


}
.navega{
    display: inline;
    color: antiquewhite;
    padding-right: 15px;
}
.navega li{
    display: inline;
    
}
.carousel slide{
    margin-top: 98px;
    height:100vh;
}